<!DOCTYPE html>
<html ng-app="mine">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-controller="MinesweeperController">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="game.js"></script>
	<div>
		<h3 ng-if="hasWonMessage">You won!</h3>
		<h3 ng-if="hasLostMessage">You lost!</h3>
	    <table class="minefield">
	        <tr ng-repeat="row in minefield.rows">
	            <td ng-repeat="spot in row.spots" ng-click="revealSpot(spot)">
				    <img ng-if="!spot.isRevealed" src="covered.png">
				    <img ng-if="spot.isRevealed && spot.content == 'empty'" src="empty.png">
				    <img ng-if="spot.isRevealed && spot.content == 'bomb'" src="mine.png">
				    <img ng-if="spot.isRevealed && spot.content == 1" src="number-1.png">
				    <img ng-if="spot.isRevealed && spot.content == 2" src="number-2.png">
				    <img ng-if="spot.isRevealed && spot.content == 3" src="number-3.png">
				    <img ng-if="spot.isRevealed && spot.content == 4" src="number-4.png">
				    <img ng-if="spot.isRevealed && spot.content == 5" src="number-5.png">
				    <img ng-if="spot.isRevealed && spot.content == 6" src="number-6.png">
				    <img ng-if="spot.isRevealed && spot.content == 7" src="number-7.png">
				    <img ng-if="spot.isRevealed && spot.content == 8" src="number-8.png">
				</td>
	        </tr>
	    </table>
	</div>
</body>
</html>
